.disabled{
    display: none;
}

#body {
    background-color: #ddcdc4;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: rgba(68, 68, 68, 0.774);
    color: #fff;
    text-transform: uppercase;
    border-radius: 0.5rem;
    margin-bottom: 50px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1.7fr 0.3fr;
    box-shadow: 5px 5px 10px 0 rgba(126, 126, 126, 0.774);
}

h1 {
    display: flex;
    justify-content: center;
    padding-left: 170px;
}

.headerBtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    background-color: rgba(99, 99, 99, 0.774);
    color: #fff;
    cursor: pointer;
    border-radius: 0.3rem;
    border: none
}

.numero {
    border-radius: .5rem;
    background-color: #4b3939;
    color: #fff;
}

#contenedorProductos {
    display: flex;
    justify-content: space-around;
}

.tarjeta {
    width: 14rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.3rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px 0 rgba(126, 126, 126, 0.774);
    
}

.tarjeta img {
    height: 10rem;
    width: 10rem;
    padding: 1rem;
    border-radius: 1.5rem;
    display: flex;
}

.boton {
    background-color: rgba(68, 68, 68, 0.774);
    color: #fff;
    width: auto;
    height: 1.7rem;
    border-radius: 6px;
    border: rgba(68, 68, 68, 0.774);
    cursor: pointer;
}

#contenedorCarrito {
    /* background-color: #4b3939; */
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
    height: auto;
    width: 50%;
    border-radius: .25rem;
    margin: 0 auto;
    /* box-shadow: 5px 5px 10px 0 rgba(126, 126, 126, 0.774); */
}

.vaciarComprar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#vaciarCarrito {
    width: 20%;
    margin-right: 1rem;
}

#comprarCarrito {
    width: 20%;
    margin-left: 1rem;
}