#body {
    background-color: #ddcdc4;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
    background: linear-gradient(to left, #413131, #6e5a5a);
    color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 50px;
    margin-top: 20px;
    display: grid;
    box-shadow: 5px 5px 10px 0 rgba(126, 126, 126, 0.774);
}

/* header index */
#headerIndex {
    grid-template-columns: 1.7fr 0.3fr;
}

#headerIndex h1 {
    padding-left: 170px;
}

/* header carrito */
#headerCarrito {
    grid-template-columns: 0.3fr 1.4fr 0.3fr;
}

.seguirComprando {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.seguirComprando:hover {
    background-color: #3b2d2d;
    transition-delay: 10ms;
}

.scBtn {
    display: flex;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
}
.headerBtns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 0.3rem;
    border: none
}



.numero {
    border-radius: .5rem;
    padding: .2rem;
    background-color: rgba(126, 126, 126, 0.774);
    color: #fff;
}

#contenedorProductos {
    display: flex;
    justify-content: space-around;
}

.tarjeta {
    width: 14rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.3rem;
    background-color: #7a5e5e;
    color: #ffffff;
    box-shadow: 5px 5px 10px 0 rgba(126, 126, 126, 0.774);

}

.tarjeta img {
    height: 10rem;
    width: 10rem;
    padding: 1rem;
    border-radius: 1.5rem;
    display: flex;
}

/* CARRITO */
.disabled {
    display: none!important;
}

#contenedorCarrito {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: #fff;
    font-weight: 700; 
    height: auto;
    margin: 0 auto;
}

#carritoVacio {
    background: linear-gradient(to right, #413131, #6e5a5a);
    border-radius: .35rem;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 5px 5px 10px 0 rgba(126, 126, 126, 0.774);
}
/* productos */

.productos-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.productoCarrito {
    display: flex;
    justify-content: space-between;
    width: 90%;
    background: linear-gradient(to right, #413131, #6e5a5a);
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px 0 rgba(126, 126, 126, 0.774);
}

.producto-carrito-img {
    width: 6rem;
    border-radius: 1rem;
}

.producto-carrito-eliminar {
    margin-top: 30px;
    background-color: transparent!important;
}

/* funciones del carrito */
.boton {
    background-color: #3b2d2d;
    color: #fff;
    width: auto;
    height: 2.5rem;
    border-radius: 0.375rem;
    border: rgba(68, 68, 68, 0.774);
    cursor: pointer;
}

#funciones-carrito {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-between;
}

.funciones-carrito-derecha {
    display: flex;
    align-items: center;
    width: 13rem;
    justify-content: flex-end;
}

.funciones-carrito-vaciar {
    background-color: #726161;
}

.funciones-carrito-total {
    display: flex;
    align-items: center;
    height: 2.5rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-weight: 500;
    font-size: small;
    background-color: #5a4545;
}

.funciones-carrito-comprar { 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #3b2d2d;
} 








